<link href='http://fonts.googleapis.com/css?family=Lobster|Indie+Flower' rel='stylesheet' type='text/css'>

<h1>Ruby on Rails 4 Sandbox:</h1>
<p><h3><%= link_to 'Simple Rails Blogging App', controller: 'articles' %></h3></p>
